.root {
	position: relative;
	min-height: 72vw;
	grid-template-rows: auto calc(100vw / 3.33333333) 1fr [last-line];
	background-color: var(--ui-bg);
}
.root::after {
	content: "";
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: var(--ui-bg);
	z-index: -1;
}

.talks {
	grid-row: 2 / auto;
	grid-column: content-start / span 3;
	margin-right: var(--line2);
	background-color: var(--ui-bg);
}
.talk {
	position: relative;
	display: flex;
	align-items: center;
}
.talk p {
	text-align: justify;
	max-width: 600px;
  hyphens: auto;
}
.byline {
	composes: serif from '../theme/material/_typo.css';
	color: var(--accent);
}
.muted {
	color: var(--text-muted);
}
.number {
	composes: hero serif from '../theme/material/_typo.css';
	color: var(--bg-muted);
	margin-left: var(--line);
	margin-right: var(--line3);
	min-width: 52px;
	clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
	background: var(--surface,black);
	display: inline-block;
	text-align: center !important;
	padding: 0;
}
hr {
	opacity: 0.38;
	margin-bottom: var(--line3);
}
.root em {
	color: var(--accent);
}
.figure {
	margin-bottom: var(--line3);
}
.noMB {
	margin-bottom: 0;
}
.img {
	width: 100%;
	height: auto;
	margin-bottom: var(--line5) !important;
}
.m8l, .m8l > * {
	white-space: nowrap;
}
.m8l > * {
	display: inline-block;
}
.widescreen {
	grid-column: 1 / span 1;
}
.bottom {
	grid-row-start: 3;
	grid-column: byline-start / content-end;
	min-height: var(--line);
	display: grid;
	grid-column-gap: var(--line2);
	grid-template-columns: 1fr 1fr minmax(0, 1fr);
	padding-right: var(--line2);
}
.flex {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	flex: 0 1 auto;
	grid-column: 2 / span 2;
}
.flexBottom {
	margin-top: calc(var(--line) * -1);
	margin-bottom: 20vw;
}
.asideColumn {}

@media (min-width: 2800px) {
	.proposals { padding-bottom: 24vw; }
}
@media (max-width: 1280px) {
	.widescreen {
		margin-top: calc(var(--line4) * -1);
		grid-row-start: 2;
		grid-column: 1/span 2;
	}
}
@media (max-width: 768px) {
	.widescreen { grid-row-start: 2; grid-column: 2 / span 2; margin-top: 0; }
}
@media (max-width: 640px) {
	.asideColumn { display: none; }
	.talks { grid-column: 1 / span 4; }
}
@media (max-width: 490px) {
	.widescreen { grid-row-start: 3; grid-column: 1/span 3; }
}
