:root {
	--tab-width: calc(var(--grid-base) * 16);
}
/*.root, .root *, .root *::before, .root *::after { box-sizing: border-box; }*/
.root {
	color: var(--text);
}
.tab {
	/* transform: translateY(var(--line)); TODO composes animationX */
	background-color: var(--bg);
	position: absolute;
	opacity: 0;
	transition: transform 240ms, opacity 400ms;
	padding-bottom: var(--line);
}
.tabButtons {
	display: flex;
}

.alignTop .tabButtons {
	background: linear-gradient( 0deg, var(--bg), var(--bg) 38.2%, var(--ui-menu) );
}
.alignBottom .tabButtons {
	background: linear-gradient( 0deg, var(--ui-menu), var(--bg) 38.2%, var(--bg) );
}
.alignTop .tabButton.enabled.active {
	background: linear-gradient( 0deg, var(--bg), var(--ui-highlight) );
}
.alignBottom .tabButton.enabled.active {
	background: linear-gradient( 0deg, var(--ui-highlight), var(--bg) );
}
/*
.horizontal .tabButton:not(.active):hover {
	box-shadow: var(--ui-dp-1);
}*/
.alignTop .tabButton:not(.active):hover {
	border-top-color: var(--ui-highlight);
	/*background: linear-gradient( 0deg, var(--bg), var(--bg) 38.2%, var(--ui-menu) 90%, var(--ui-highlight) );*/
	/*background: linear-gradient( 0deg, var(--ui-highlight-muted), var(--ui-highlight-muted) 38.2%, var(--ui-menu) );*/
}
.alignBottom .tabButton:not(.active):hover {
	border-top-color: var(--bg);
	background: linear-gradient( 0deg, var(--ui-menu), var(--ui-highlight-muted) 38.2%, var(--ui-highlight-muted) );
}

.tabButton {
	composes: ui-typo-large ui-box from './_ui.m.css';
	border-left: var(--ui-border-width) solid transparent;
	border-right: var(--ui-border-width) solid transparent;
	border-top: var(--ui-border-width) solid transparent;
	border-bottom: var(--ui-border-width) solid var(--ui-menu-border);
	color: var(--text-muted);
	cursor: pointer;
	display: inline-block;
	flex: 1;
	outline: none;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	width: var(--tab-width);
	z-index: 1;
}
.root .tabButton {
	font-weight: normal;
}
/*
.tabButton.enabled::after {
	background: linear-gradient( 0deg, var(--bg), var(--ui-highlight-muted) );
	transform: translateX(-50%) translateY(-50%);
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: -1;
	transition: all .16s ease 0s;
}
.horizontal .tabButton::after {
	height: 100%;
	width: 0%;
}
.vertical .tabButton::after {
	height: 0%;
	width: 100%;
}
.horizontal .tabButton:not(.active):hover::after {
	width: 100%;
}
.vertical .tabButton:not(.active):hover::after {
	opacity: 1;
	height: 100%;
}
.tabButton:not(.active):hover {
	color: var(--text-selected);
}
*/
.tabButton.enabled:focus {
	color: var(--text-selected);
	font-weight: var(--font-weight-selected);
	background-color: var(--bg);
}
.tabButton.enabled:focus,
.tabButton.enabled.active {
	border-color: var(--ui-menu-border);
}

.horizontal .tabButton:focus {
	border-top-color: var(--ui-focus);
	border-bottom-color: var(--bg);
}
.vertical .tabButton:focus {
	background-color: var(--bg); /* TODO 700 */
}
.tabButton.enabled:focus::selection {
	background-color: transparent;
}

.tabButton.enabled.active {
	font-weight: var(--font-weight-selected);
	cursor: default;
}

.tabButton.enabled.active:not(:focus) {
	color: var(--text);
	border-top-color: var(--ui-accent);
	border-bottom-color: var(--bg);
}
.tabButton.enabled:focus {
	color: var(--ui-accent);
}


.alignBottom .tabButton.enabled.active:not(:focus) {
	border-top-color: var(--bg);
	border-bottom-color: var(--ui-accent);
}
.alignBottom .tabButton.enabled.active:focus {
	border-top-color: var(--bg);
	border-bottom-color: var(--ui-focus);
}
.alignLeft .tabButton:not(.active):hover,
.alignRight .tabButton:not(.active):hover {
	border-color: var(--ui-menu-border);
	background-color: var(--ui-highlight-muted);
}
.alignLeft .tabButton.active,
.alignRight .tabButton.active {
	border-bottom-color: var(--ui-menu-border);
}
.alignLeft .tabButton.enabled.active, .alignRight .tabButton.enabled.active {
	border-bottom-color: var(--ui-menu-border);
}
.alignLeft .tabButton.enabled.active:focus, .alignRight .tabButton.enabled.active:focus {
	border-top-color: var(--bg);
}
.alignLeft .tabButton.enabled.active:not(:focus), .alignRight .tabButton.enabled.active:not(:focus) {
	background: var(--bg);
}
.alignLeft .tabButton.enabled.active:focus {
	border-left-color: var(--ui-focus);
	border-right: none;
}
.alignRight .tabButton.enabled.active:focus {
	border-left: none;
	border-right-color: var(--ui-focus);
}

.disabled {
	color: var(--text-disabled);
	cursor: default;
}

.close {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0;
	padding: 1px 3px;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.close:after {
	content: '✕';
	display: block;
	font-size: var(--font-size-small);
}

.closeable {
	padding-right: calc(var(--font-size-small) + 6px);
}

.alignLeft .tabs, .alignRight .tabs,
.alignLeft .tabButtons, .alignRight .tabButtons {
	display: inline-block;
	vertical-align: top;
}
.alignLeft .tabs, .alignRight .tabs {
	width: calc(100% - var(--tab-width));
}

.alignLeft .tabButton {
	border-bottom: var(--ui-border-width) solid var(--ui-menu-border);
	border-left: var(--ui-border-width) solid transparent;
	border-right: var(--ui-border-width) solid var(--ui-menu-border);
	border-top: var(--ui-border-width) solid transparent;
	display: block;
}
.alignLeft .active:not(:focus) {
	border-right-color: var(--bg);
}

.alignRight .tabButton {
	border-bottom: var(--ui-border-width) solid var(--ui-menu-border);
	border-left: var(--ui-border-width) solid var(--ui-menu-border);
	border-right: var(--ui-border-width) solid transparent;
	border-top: var(--ui-border-width) solid transparent;
	display: block;
}
.alignRight .active:not(:focus) {
	border-left-color: var(--bg);
}

.alignBottom .tabButton {
	border-bottom: none;
	border-top-color: var(--ui-menu-border);
}
.alignBottom .active {
	border-bottom-color: var(--ui-accent);
	&:not(:focus) {
		border-top-color: var(--bg);
	}
}

.rTab { }
input.rTab, .hidden {
	appearance: none;
	display: none;
}
input.rTab:checked + section {
	position: relative;
	/*transform: translateY(0); TODO composes animationX */
	opacity: 1;
}
