.root {
	position: relative;
	background-color: var(--bg);
	box-sizing: border-box;
	color: var(--text);
	overflow: hidden;
	min-height: calc(var(--line) * 3);
}

.root * {
	box-sizing: border-box;
}

.titleButton {
	composes: ui-typo-large ui-box ui-border from './_ui.m.css';
	border-top: var(--ui-border-width) solid transparent;
	display: block;
	background-color: var(--ui-full);
	color: var(--text-muted);
	cursor: pointer;
	position: relative;
	width: 100%;
	z-index: 1;
}

.titleButton::after {
	background-color: var(--ui-accent);
	transform: translateX(-50%) translateY(-50%);
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: -1;
	transition: all .16s ease 0s;
	opacity: 0.4;
	height: 0%;
	width: 100%;
}
.titleButton:not(.exclusive .titleButton[aria-expanded="true"]):hover::after {
	opacity: 1;
	height: 100%;
}


.titleButton:not(.root + .root .titleButton) {
	border-top: none;
}
.titleButton {
	background-color: var(--bg);
}
/* TODO */
.titleButton:focus {
	border-color: var(--ui-focus);
	box-shadow: var(--ui-dp-1);
	outline: none;
}
/* make transparent hover variables look good while pane scrolling */
.titleButton:hover {
	color: var(--text);
}

.content {
	--lr: calc(var(--line) / 1.618);
	background-color: var(--bg);
	border-top: var(--ui-border-width) solid transparent;
	border-bottom: var(--ui-border-width) solid var(--ui-menu-border);
	border-left: var(--ui-border-width) solid var(--ui-menu-border);
	border-right: var(--ui-border-width) solid var(--ui-menu-border);
	padding: var(--line) var(--lr) var(--line) var(--lr);
	height: calc(var(--line) * 3);
	margin-top: calc(-100% - var(--line) * 4);
	transition: margin-top ease-in-out var(--ui-dpd-1);
}

.arrow {
	position: absolute;
	left: 8px;
	transition: transform ease-in-out var(--ui-dpd-1);
}
.rPane { }
.rPane:hover { cursor: pointer; }
input.rPane, .hidden {
	position: absolute;
	width: 100%;
	height: 100%;
	appearance: none;
}
input.rPane:checked + .title + .content {
	height: auto;
	margin-top: 0px;
}
input.rPane:checked + .title .titleButton {
	color: var(--text-selected);
	font-weight: var(--font-weight-selected);
	padding-bottom: calc(var(--line) - var(--ui-border-width) * 2 - var(--padding-top));
}
input.rPane:checked + .title .arrow {
	color: var(--ui-info);
	color: var(--m-a400, var(--m-400));
	transform: rotate(90deg);
}
.contentTransition { }
.material { }
.title { }
.exclusive { }
.closeable { }
