.root {
	border-radius: 4px;
	background-color: var(--ui-bg);
	color: var(--text);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	box-shadow: var(--ui-dp-2);
	position: relative;
}

.depth4 {
	box-shadow: var(--ui-dp-4);
}
.content {
	box-sizing: border-box;
	flex-grow: 1;
	flex-shrink: 1;
}
.content:not(:empty) {
	padding: calc(var(--line) * 1.5) var(--lineHalf) var(--lineHalf);
}
.dark { }
