.root {
	box-sizing: border-box;
	background: var(--ui-menu);
	border-top: var(--ui-border-width) solid var(--ui-menu-border);
	border-bottom: var(--ui-border-width) solid var(--ui-menu-border);
	min-height: 48px;
	text-align: left;
}

.title {
	composes: ui-box ui-typo-large from './_ui.m.css';
}

.menuButton {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0;
	padding: var(--grid-base);
	margin: 0;
}
/* TODO
.menuButton i {
	font-size: var(--font-size-title);
}
*/
.actions {
	display: flex;
}
.collapsed { }
